{%extends 'blog/basic.html' %}
{%block title%}Blog:Shop Machao{%endblock%}
{% block css %}
    <style>
      /*Its only form pc and desktop. The error in responsiveness is only due to the navigation bar of code pen you can test it by copy pasting in you code editor Thank you!! */

@import url(<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">);

:root{
    --body-bg: rgba(241, 241, 241, 1);
    --grid-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    --main-color: #fff;
    --hover-bg-clr: #cccccc;
    --black-clr: #000;
}
*{
    font-family: lato, sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--body-bg);
    margin: 0px;
    padding: 0px;
}
/* top navigation */

.heading{
    font-size: 2.4rem;
    margin-top: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.tag-line{
    margin-top: 0px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
}
.container{
    height: 100%;
    width: 100%;

    display: grid;

    grid-gap: 1.5rem;

}

.article-1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    box-shadow: var(--grid-shadow);
    overflow: hidden;
}
.hello{

margin:10px;
padding:10px;
}

.img-1{
    width: 100%;
    height: auto;
}

.article-content{
    text-align: justify;
    margin: 0px;
    padding: 0px 2rem;
    background-color: var(--main-color);
    height: 100%;
}

.article-heading{
    margin-top: -5px;
    padding-top: 1rem;
}

.article-txt{
    margin-top: 2rem;
}

.article-btn{
    margin-top: 4rem;
    text-decoration: none;
    color: var(--black-clr);
    font-weight: 500;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: 0.7rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: transform 400ms, box-shadow 500ms;
}

.article-btn:hover{
    transform: scale(1.05);
    border: none;
    box-shadow: 0 0 1.5rem 0 #d3d3d3;
}

.article-2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: var(--grid-shadow);
    overflow: hidden;
}

.img-2{
    width: 100%;
    height: auto;
}

.article-3{
    box-shadow: var(--grid-shadow);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    overflow: hidden;
}

.popular{
    font-weight: lighter;
    font-size: 1.6rem;
    margin: 0px;
    padding: 1rem 2rem;
    background-color: var(--body-bg);
}

.s-img{
    height: 3rem;
    width: 3rem;
}

.img-link{
    background: var(--main-color);
    display: block;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
    color: var(--black-clr);
    font-size: 1.5rem;
    padding: 0.62rem 2rem;
}

.img-link:hover{
    background: var(--hover-bg-clr);
}

.article-4{
    box-shadow: var(--grid-shadow);
    grid-column: 1 / 2;
    grid-row: 3 / 6;
    overflow: hidden;
}

.img-3{
    width: 100%;
    height: auto;
}

.article-5{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    box-shadow: var(--grid-shadow);
    overflow: hidden;
}

.tag-container{
    padding-left: 1rem;
    padding-top: 1rem;
    background: var(--main-color);
    height: 100%;
}

.tags{
    display: inline-block;
    text-decoration: none;
    color: var(--black-clr);
    background: var(--hover-bg-clr);
    line-height: 1.5;
    height: 1.5rem;
    width: max-content;
    margin: 0.15rem;
    padding: 0 1rem;
    border-radius: 0.3rem;
}

.footer{
    height: 12rem;
    background: var(--black-clr);
    display: grid;
    place-items: center;
}

.footer-text{
    color: var(--body-bg);
}

@media (max-width: 1105px){
    .container{
        grid-template-rows: 60vh 20vh 33vh 45vh 1vh;
    }
    .article-btn{
        margin-top: 6rem;
    }
    .img-link{
        padding: 0.72rem 2rem;
    }
}

@media (max-width: 852px){
    .container{
        grid-template-columns: 100%;
        grid-template-rows: 31.5rem 33.8rem 23.2rem 31.5rem 11rem;
    }
    .article-1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .article-2{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .article-3{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .article-4{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .article-5{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .article-btn{
        margin-top: 1.5em;
    }
};

    </style>
{%endblock%}
<!--    <h1>Blog</h1>-->
<!--    {% load static %}-->
<!--  <a href="{%static 'blog/mystatic.txt' %}"><img src="{%static 'blog/Brazil.jpg' %}"> </a>-->
{%block body%}
  <!---Its only form pc and desktop. The error in responsiveness is only due to the navigation bar of code pen you can test it by copy pasting in you code editor Thank you!! --->

 <h1 class="heading">my blog</h1>
        <p class="tag-line">Welcome to blogs regarding Ecommerece Website</p>
<!--  Grid Sections the articles  -->

        <div class="container">



<!--   Artice 1 at the top left corner  -->
<div class="hello">
 {% for item in myposts %}



                <div class="article-1">
                <img class="img-1" src="/media/{{item.thumbnail}}" alt="forest image" style="margin-right:25px;">
                <div class="article-content">
                    <h2 class="article-heading">{{item.title}}</h2>
                    <p>Published On:{{item.pub_date}}</p>
                    <p>Author:{{item.author}}</p>
                    <h6 class="article-txt"> {{item.head0}}</h6>
                    <p class="article-txt"> {{item.content_head0}}</p>

                    <a class="article-btn" href="blogpost/{{item.post_id}}" id="qv{{i.id}}">READ MORE >></a>
                </div>
                </div>

{% if forloop.counter|divisibleby:1 %}
        </div>  <div class="hello">

            {%endif%}

   {%endfor%}
 </div>
<!--   Artice 2 at the top right corner  -->

            <div class="article-2">
                 <img src='{% static "blog/photo.png" %}' style="height:40%;width:100%;margin-right:5px;">
                <div class="article-content">
                    <h2 class="article-heading">About Me</h2>
                    <p>Hii, My Name is <b>Yash Jain</b> creator of this Ecommerece Website ,I am currently a college Student graduating with Computer Science pursuing Intg.Mtech at Jaypee Noida (JIIT NOIDA),UP,INDIA</p>
                    <a class="article-btn" href="https://perinfo.godaddysites.com/" >READ MORE >></a>
                </div>
            </div>

<!--   Artice 3 at the popular corner  -->

            <div class="article-3">
                <p class="popular">Popular blogs</p>
                <a class="img-link" href="#"><img class="s-img" src="https://i.ibb.co/CwnPnD5/2.jpg" alt=""><span class="popular-link">Lorem</span></a>
                <a class="img-link" href="#"><img class="s-img" src="https://i.ibb.co/3yLPVzP/3.jpg" alt=""><span class="popular-link">Ipsum</span></a>
                <a class="img-link" href="#"><img class="s-img" src="https://i.ibb.co/PjNYQd9/4.jpg" alt=""><span class="popular-link">Dolor</span></a>
                <a class="img-link" href="#"><img class="s-img" src="https://i.ibb.co/6Zn6TTL/5.jpg" alt=""><span class="popular-link">Tenetur</span></a>
            </div>

<!--   Article 4 at the bottom left corner  -->


<!--   Atricle 5 at the tags corner  -->

            <div class="article-5">
                <p class="popular">Tags</p>
                <div class="tag-container">
                    <a class="tags" href="">Encourage</a>
                    <a class="tags" href="">Confidence</a>
                    <a class="tags" href="">Stage</a>
                    <a class="tags" href="">Family</a>
                    <a class="tags" href="">Success</a>
                    <a class="tags" href="">Team work</a>
                    <a class="tags" href="">Motivational</a>
                    <a class="tags" href="">Create yourself</a>
                    <a class="tags" href="">Self Confidence</a>
                    <a class="tags" href="">Struggle</a>
                    <a class="tags" href="">Games</a>
                    <a class="tags" href="">failure</a>
                    <a class="tags" href="">Practice</a>
                    <a class="tags" href="">Excersice</a>
                </div>
            </div>

        </div>


<!--   footer   -->


{%endblock%}
